@font-face {
    font-family: consola;
    src: url(/fonts/CONSOLA.TTF);
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    font-family: "Inter", "Arial", sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.main {
    max-width: 600px;
    margin: 20px auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.logo-img {
    width: 285px;
    height: 140px;
    display: block;
    object-fit: cover;
}

.logo-title {
    font-size: 1.3rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.github-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github-link {
    height: 28px;
    display: flex;
    font-size: 12px;
    color: #24292f;
    padding: 5px 10px;
    font-weight: 600;
    line-height: 16px;
    align-items: center;
    text-decoration: none;
    border: 1px solid #d0d7de;
    background-color: #ebf0f4;
    justify-content: space-between;
    border-radius: .25em 0 0 .25em;
    background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
}

.github-link:hover {
    border-color: #d0d7de;
    background-color: #e4e9ed;
    background-position: 0 -0.5em;
    background-image: linear-gradient(180deg, #eef1f4, #e4e9ed 90%);
}

.octicon {
    margin-right: 3px;
}

.github-second-link {
    border-left: 0;
    color: #24292f;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid;
    border-color: #d0d7de;
    background-color: #fff;
    border-left: 0;
    border-radius: 0 .25em .25em 0;
    margin-right: 4px;
}

.github-second-link:hover {
    color: #0969da;
}

.buy-me-a-coffe-img {
    display: block;
}

.info-title {
    margin-top: 18.72px;
}

.info-ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
}

.info-li {
    font-size: 16px;
    margin-top: 12px;
}

.codes-ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between;
}

.codes-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.ter-code-pre {
    width: 800px;
    height: 80px;
    display: flex;
    color: #ccc;
    margin: 5px 0;
    overflow: auto;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 10px;
    background: #2D2D2D;
    font-family: consola, monospace;
    padding: 1.75rem 0 1.75rem 1rem;
}

.ter-code-code {
    font-size: 16px;
    font-weight: 500;
    hyphens: none;
}

.copy-btn {
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 0.15rem;
    font-size: 0.9rem;
    position: absolute;
    border-radius: 5px;
    background-color: #828282;
    border: ridge 1px #7b7b7c;
    text-shadow: #c4c4c4 0 0 2px;
}

.copy-btn:hover {
    cursor: pointer;
    background-color: #bcbabb;
}

.code-info {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dollar {
    margin-right: 10px;
    font-family: consola, monospace;
}

.download-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn {
    border: 0;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    align-items: center;
    transition: all 0.2s linear;
    background-color: #24292f;
    justify-content: space-between;
    /* cursor: url('/img/publicme-logos/png/logo-black-1-remove-and-border-radius-cursor.png'), auto; */
}

.download-btn:hover {
    opacity: 70%;
}

.download-btn:active {
    opacity: 50%;
}

.download-icon {
    font-size: 17px;
    margin-right: 4px;
}

.exe {
    margin-left: 4px;
}

.already-exist {
    top: 20px;
    right: -418px;
    width: 418px;
    height: 90px;
    padding: 24px;
    display: flex;
    cursor: pointer;
    position: fixed;
    border-radius: 14px;
    align-items: center;
    background-color: #fff;
    border: 1px solid #007AFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}

.already-exist-title {
    font-size: 20px;
    font-weight: bold;
}

.check-icon {
    width: 41px;
    height: 41px;
    margin-right: 31px;
}


.animation{
    animation: slideToLeft 2s ease forwards;
}

.already-exist.hidden {
    display: none;
}

@keyframes slideToLeft {
    from {
        right: -350px;
    }
    to {
        right: 20px;
    }
}

.log-out-btn {
    right: 10px;
    bottom: 10px;
    color: #ccc;
    cursor: pointer;
    position: fixed;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    border: 1px solid #7b7b7c;
    transition: all 0.3s ease;
    background-color: #3D3D3D;
    box-shadow: 0px 0px 5px 0px #7b7b7c;
}

.log-out-btn:hover {
    opacity: 70%;
}

.log-out-btn:active {
    opacity: 50%;
}
