@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

html {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    scroll-behavior: smooth;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #202224;
    font-size: 16px;
    line-height: 1.5;
    background-size: cover;
    background-color: #4880FF;
    background-repeat: no-repeat;
    background-image: url(/img/Shape.png);
    font-family: 'Nunito Sans', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.container {
    width: 630px;
    padding: 57px;
    /* margin-top: 150px; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    background-color: #fff;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.container-top {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 37px;
    flex-direction: column;
    justify-content: space-between;
}

.container-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.container-second-title {
    font-size: 18px;
    font-weight: 600;
    color: #4D4E50;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.labels {
    font-size: 18px;
    font-weight: 600;
    color: #202224;
    margin-bottom: 15px;
}

.input {
    width: 516px;
    height: 56px;
    padding: 16px;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 8px;
    padding-bottom: 15px;
    transition: all 0.3s ease;
    background-color: #F1F4F9;
    border: 1px solid #D8D8D8;
}

.input:focus {
    outline: 0;
    background-color: #E4F0FF;
    border: 0.1px solid #007AFF;
}

.input::placeholder {
    color: #A6A6A6;
}

.forgot-password-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.password-input::placeholder {
    font-weight: 900;
}

.password-label {
    margin-bottom: 0;
    margin-right: 288px;
}

.forgot-password-link {
    font-size: 18px;
    font-weight: 600;
    color: #797A7C;
    text-decoration: none;
}

.sign-in-btn-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.sign-in-btn {
    border: 0;
    width: auto;
    height: 56px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 18px;
    transition: all 0.3s ease;
    background-color: #4880FF;
    padding: 15px 172px 14px 172px;
}

.sign-in-btn:hover {
    opacity: 0.7;
}

.have-an-account {
    color: #6E6F71;
    font-size: 18px;
    font-weight: 600;
}

.sign-up-link {
    color: #5A8CFF;
    font-size: 18px;
    font-weight: bold;
}

.error-input {
    background-color: #FFEFEF;
    border: 1px solid #FF3D00;
}

.error-text {
    opacity: 0;
    color: #FF3D00;
    margin-bottom: 10px;
}

.already-exist {
    top: 20px;
    right: -418px;
    width: 418px;
    height: 90px;
    padding: 24px;
    display: flex;
    cursor: pointer;
    position: fixed;
    border-radius: 14px;
    align-items: center;
    background-color: #fff;
    border: 1px solid #007AFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}

.already-exist-title {
    font-size: 20px;
    font-weight: bold;
}

.check-icon {
    width: 41px;
    height: 41px;
    margin-right: 31px;
}


.animation{
    animation: slideToLeft 2s ease forwards;
}

.already-exist.hidden {
    display: none;
}

@keyframes slideToLeft {
    from {
        right: -350px;
    }
    to {
        right: 20px;
    }
}